AddDefaultCharset utf-8

# rewrite definitions
RewriteEngine on

RewriteBase /
RewriteRule ^.htaccess$ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . wl_core.php

DirectoryIndex index.php
